* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.6;
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 60px;

}

.navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}

.navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f4;
}

section {
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    padding-left: 20px;
    scroll-snap-align: center;
    background: #44A08D;
    background: -webkit-linear-gradient(to right, #093637, #44A08D);
    background: linear-gradient(to right, #093637, #44A08D);
}

section .content {
    margin-right: 30%;
    margin-left: 15%;
}

section p {
    font-size: 2rem;
}

section h1 {
    font-size: 5rem;
    letter-spacing: 0.2rem;
}

section#home p{
    text-transform: uppercase;
    font-family: Merriweather, Arial, Helvetica, sans-serif;
    letter-spacing: 0.1rem;
    color: black;
}

section#skills .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: black;
    overflow: hidden;
    font-family: Merriweather, Arial, Helvetica, sans-serif;
}
section#skills p {
    font-weight: bold;
}

section#skills ul {
    margin: 0px 40px;
    text-align: left;
}
section#skills ul li {
    transition: ease-in 0.2s;
    cursor: default;
}

#model {
    position: fixed;
    top: 0px;
    width: 200px;
    height: 100vh;
    right: 8%;
    pointer-events: none;
}


i {
    font-size: 3.5rem;
}

@media only screen and (max-width: 600px) {
    .navbar ul li {
        margin: 0 0;
        padding: 1rem;
    }
    section p, li{
      font-size: 0.8rem;
    }
    section h1 {
        font-size: 2.2rem;;
    }
    #model {
        width: 120px
    }
    section .content {
        margin-right: 40%;
        margin-left: 0%;
    }
    section#skills .container {
        flex-direction: column;
        align-items: flex-start;
    }
    i {
        font-size: 2rem;
    }
  }